{% extends 'base.html.twig' %}

{% block title %}Platform index{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% for platform in platforms %}
            <div class="row">
                {% if date(platform.endOfSubscription) >= date('now') %}
                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col-auto d-none d-lg-block">
                                <img src="{{ vich_uploader_asset(platform, 'imageFile') | imagine_filter('miniature') }}" alt="{{ platform.bannerAlt }}">
                            </div>
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">{{ platform.name }}</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">{{ platform.content }}</p>
                                <a href="{{ platform.url }}" class="stretched-link">Visiter la plateforme</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0">{{ platform.name }}</h3>
                                <div class="mb-1 text-muted">Nov 12</div>
                                <p class="card-text mb-auto">{{ platform.content }}</p>
                                <a href="{{ platform.url }}" rel="nofollow" class="stretched-link">Visiter la plateforme</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    {{ knp_pagination_render(platforms) }}
    </div>
{% endblock %}
